<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
    <title>Routr.ai</title>
    <!--begin::Primary Meta Tags-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="
          crossorigin="anonymous">
    <!--end::Fonts-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css"
          integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous">
    <!--end::Third Party Plugin(OverlayScrollbars)-->
    <!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI="
          crossorigin="anonymous">
    <!--end::Third Party Plugin(Bootstrap Icons)-->
    <!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="https://adminlte-v4.netlify.app/dist/css/adminlte.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>



    <!--end::Required Plugin(AdminLTE)-->
    <style>

        
        {% if request.path == "/" %}
            @media (max-width: 768px) {
                .nav-header {
                    font-size: 50px !important;
                    align-self: center;

                }

                .nav-item {
                    align-self: center;
                }

                .nav-link p {
                    font-size: 40px;
                }

                .nav-link i {
                    font-size: 35px;
                }

                .app-header, .app-main {
                    display: none;
                }

                .app-sidebar {
                    display: block !important;
                    min-width: 100vw !important;
                    max-width: 100vw !important;
                    width: 100vw !important;

                    height: 150vh !important;
                    position: static !important;
                    transform: none !important;
                    overflow-y: auto !important;
                }

                .sidebar-wrapper {
                    display: block !important;
                    height: 100%;
                }

                body {
                    overflow: hidden;
                }
            }
        {% endif %}

    </style>
</head>
{% if request.path == "/" %}
    <body class="layout-fixed sidebar-expand sidebar-collapse bg-body-tertiary app-loaded">
{% else %}
    <body class="layout-fixed sidebar-expand sidebar-mini sidebar-collapse bg-body-tertiary app-loaded">
{% endif %}


<!--begin::App Wrapper-->
<div class="app-wrapper">
    <!--begin::Header-->
    <nav class="app-header navbar navbar-expand bg-body">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Start Navbar Links-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                        <i class="bi bi-list"></i>
                    </a>
                </li>
            </ul>
            <!--end::Start Navbar Links-->
            <!--begin::End Navbar Links-->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <button
                            class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                            id="bd-theme"
                            type="button"
                            aria-expanded="false"
                            data-bs-toggle="dropdown"
                            data-bs-display="static"
                    >
          <span class="theme-icon-active">
            <i class="my-1"></i>
          </span>
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="bd-theme-text"
                            style="--bs-dropdown-min-width: 8rem;"
                    >
                        <li>
                            <button
                                    type="button"
                                    class="dropdown-item d-flex align-items-center active"
                                    data-bs-theme-value="light"
                                    aria-pressed="false"
                            >
                                <i class="bi bi-sun-fill me-2"></i>
                                Light
                                <i class="bi bi-check-lg ms-auto d-none"></i>
                            </button>
                        </li>
                        <li>
                            <button
                                    type="button"
                                    class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="dark"
                                    aria-pressed="false"
                            >
                                <i class="bi bi-moon-fill me-2"></i>
                                Dark
                                <i class="bi bi-check-lg ms-auto d-none"></i>
                            </button>
                        </li>
                        <li>
                            <button
                                    type="button"
                                    class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="auto"
                                    aria-pressed="true"
                            >
                                <i class="bi bi-circle-fill-half-stroke me-2"></i>
                                Auto
                                <i class="bi bi-check-lg ms-auto d-none"></i>
                            </button>
                        </li>
                    </ul>
                </li>
                <!--begin::Navbar Search-->
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="d-none d-md-inline"><i class="bi bi-person-circle"></i> UserName</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                        <!--begin::User Image-->
                        <li class="user-footer">
                            <a href="#" class="btn btn-default btn-flat">Admin Page</a>
                            <a href="#" class="btn btn-default btn-flat float-end">Sign out</a>
                        </li>
                        <!--end::Menu Footer-->
                    </ul>
                </li>
                <!--end::User Menu Dropdown-->
            </ul>
            <!--end::End Navbar Links-->
        </div>
        <!--end::Container-->
    </nav>
    <!--end::Header-->
    <!--begin::Sidebar-->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
            <!--begin::Brand Link-->
            <a href="#" class="brand-link">
                <!--begin::Brand Image-->
                <i class="bi bi-truck-front"></i>
                <span class="brand-text fw-light">Routr.ai</span>
                <!--end::Brand Text-->
            </a>
            <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
            <nav class="mt-2">
                <!--begin::Sidebar Menu-->
                <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                    <li class="nav-header">Trip Management</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-truck"></i>
                            <p>Trip records</p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block; box-sizing: border-box;">
                            <li class="nav-item">
                                <a href="{% url 'driver_trip_record' %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Add records</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'driver_trip_record_list' %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>View records</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-fuel-pump"></i>
                            <p>Fuel records</p>
                        </a>
                        <ul class="nav nav-treeview" style="display: block; box-sizing: border-box;">
                            <li class="nav-item">
                                <a href="{% url 'fuel_purchase_record' %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Add records</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'fuel_purchase_record_list' %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>View records</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <!--end::Sidebar Menu-->
            </nav>
        </div>
        <!--end::Sidebar Wrapper-->
    </aside>
    <!--end::Sidebar-->
    <!--begin::App Main-->